/* Regular (400) */
@font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Regular Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Medium (500) */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  /* SemiBold (600) */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  /* SemiBold Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  /* Bold (700) */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  /* ExtraBold (800) */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  /* ExtraBold Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  /* Black (900) */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  /* Black Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  /* Light (300) */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  /* Light Italic */
  @font-face {
    font-family: "Red Hat Display";
    src: url("/fonts/red-hat-display/RedHatDisplay-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  